body {
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: purple;
    background-color: rgba(225, 225, 225, 0.722);
}

#baixo {
    position: absolute;
    bottom: 0;
    right: 50;
    left: 50;
}

#outro {
    border: none;
    border-bottom: purple 2px solid;
    box-shadow: none;

    outline: none;
}

#obrigatorio{
    color: rgb(212, 42, 42);
}

.likert li {
    float: left;
    list-style-type: none;
  }
main {
    background-color: purple;
}

.card {
    --bs-card-border-color: purple;
    --bs-card-color: purple;
}